/*** GENERAL ***/

body, div, header, footer, main, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(252, 252, 252);
}

a {
  text-decoration: none;
  color: rgb(29, 125, 203);
}

a:hover {
  color: rgb(43, 159, 252);
}

a.href {
  cursor: pointer;
}

.emph {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

ul.tags {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.tags li {
  display: inline-block;
  background-color: rgb(56, 154, 209);
  color: white;
  border-radius: 0.1em;
  padding: 0.2em;
  margin-right: 0.2em;
  font-size: 0.6em;
}

p.meta {
  color: rgb(99, 99, 99);
  margin: 0;
  font-size: 0.8em;
}

p.meta span.author {
  color: black;
}

blockquote {
  background-color: rgb(210, 210, 210);
  border-radius: 0.3em;
  padding: 0 0.5em;
  margin: 0;
  color: rgb(50, 50, 50);
}

code {
  background-color: rgb(232, 232, 232);
  border-radius: 0.2em;
  padding: 0.2em;
}

pre {
  background-color: rgb(232, 232, 232);
  border-radius: 0.3em;
  padding: 0.4em;
}

/*** HEADER ***/

header.main {
  background: rgb(207, 74, 45); /* HEADER BACKGROUND */
  padding-top: 70pt;
  padding-bottom: 20pt;
}

header.main h1 {
  color: rgb(244, 244, 244);
  text-align: center;
  font-size: 32pt;
}

header.main h2 {
  color: rgb(227, 232, 238);
  text-align: center;
}

header.main a {
  color: rgb(119, 40, 23);
}

header.main a:hover {
  color: rgb(117, 73, 63);
}


/*** MAIN PAGE ***/

main {
  padding: 0.5em;
  margin: auto;
  max-width: 60em;
}

main h3 {
  border-left: 5pt solid rgb(207, 74, 45); /* HEADER BACKGROUND */
  color: rgb(207, 74, 45); /* HEADER BACKGROUND */
  padding-left: 7pt;
  margin-bottom: 10pt;
}

main ul.articles {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

main ul.articles > li {
  display: block;
  background-color: rgb(255, 255, 255);
  border-radius: 0.1em;
  margin: 1em 0;
  padding: 0.5em;
  box-shadow: 0 0.2em 0.2em rgba(52, 52, 52, 0.03);
  transition: all 1s;
}

main ul.articles > li:hover {
  box-shadow: 0 0.3em 0.2em rgba(52, 52, 52, 0.08);
}

ul.articles > li p {
  margin: 0.1em 0;
}

/*** BLOG POSTS ***/

article {
  padding: 0.5em;
  margin: auto;
  max-width: 60em;
}

article header h1 {
  font-size: 3em;
}
